.App {
  text-align: center;
  display: flex;

    .Header {
        height: 30%;
      img {
        height: 40%;
      }

    }

  & .ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    width: 15%;
    background-color: #333;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-transform: capitalize;
  }
}

