.dashboard {
  margin: 40px 200px;
  width: 50%;
  height: 100%;


  .Queues {
    width:40vw;
    max-width:40vw;
    margin: auto;
    @media (max-width: 1200px) {
      width:300px;
      max-width:300px;
    }
  }

  @media (max-width: 1200px) {
    margin-left: 200px;
    margin-top: 50px;
  }

  .Kitchen {
    width:40vw;
    max-width:40vw;
    margin: auto;

  }
}

.Line{
  margin-left: 80px;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 1px;
  border: 0;
  background: #ffffff;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#000000), to(#0e0e0e), color-stop(50%, #ffffff));

}