.dashboard {
  margin: 40px 200px;
  width: 50%;
  height: 100%;

  .Queues {
    width:600px; /* or whatever width you want. */
    max-width:600px; /* or whatever width you want. */
    display: inline-block;

    @media (max-width: 1200px) {
      width:300px; /* or whatever width you want. */
      max-width:300px; /* or whatever width you want. */
    }
  }

  @media (max-width: 1200px) {
    margin-left: 200px;
    margin-top: 50px;
  }

  .Kitchen {
    margin-top: 50px;
    width:600px; /* or whatever width you want. */
    max-width:600px; /* or whatever width you want. */
    display: inline-block;

  }
}