.App {
  text-align: center;
  display: flex;
  flex-direction: column;


  .Header {
    height: 10%;
    display: flex;
    align-items: center;


    .Logo {

      & img {
        height: 30%;
        width: 30%;
      }
    }


    .PageName {

    }

  }

  .AppBody {
    display: flex;
    margin: 10px;
    padding-right: 30px;

    border-style: solid;
    border-width: 2px;

    .Navigation {
      margin: 5px;
      padding: 10px;


      .Item {

      }
    }

    .MainContent {
      margin: 0 auto;
      width: 80%;
      height: 60vh;
      padding: 5px;

    }
  }

}

