/* The Boxes Of Content */
.Boxes {
  display: flex;
  justify-content: space-around;


  .OrderSummary {
    width: 40%;
    padding: 1rem;

    color: #000;
    text-decoration: none;
    text-transform: capitalize;

    .PriceNdish {
      font-weight: 600;
      display: flex;
      justify-content: space-between;
    }

    .TotalPrice {
      font-weight: 600;
      display: flex;
      justify-content: space-between;
    }

    .DishTitle {
      height: 10%;
    }

    .DishPrice {
      height: 10%;
    }

    .typesNtime {
      text-align: left;

      .type {
        margin-bottom: -10px;
      }

      .CheckBox {
        text-align: left;
        margin-left: -40px;
      }

      .Duration {
      }
    }
  }
}

.Dish {
  display: flex;
  justify-content: space-between;

  & .Label {
    p {
      display: inline;
    }
  }

  .ToggleBox {
    display: none;
  }

  .ToggleBox + label {
    cursor: pointer;
    display: block;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 5px;
  }

  .ToggleBox + label + .Ingredients {
    display: none;
    margin-bottom: 10px;
  }

  .ToggleBox:checked + label + .Ingredients {
    display: block;
  }

  .ToggleBox + label:before {
    background-color: #4F5150;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    content: "+";
    display: block;
    float: left;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    text-align: center;
    width: 20px;
  }

  .ToggleBox:checked + label:before {
    content: "\2212";
  }

  .Ingredients {
    margin-top: 10%;

    .Ingredient {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & p {
        margin: 0 auto;
      }

    }
  }
}

.Alert {
  position: absolute;
  top: -3%;
  left: 38%;
}

