.button {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background: rgb(52, 72, 90);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  cursor: pointer;

  :hover {
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
  }
}
