.OrderBody {
  width: 100%;

  & .Notification {
    position: absolute;
    top: 180px;
    left: 100px;

    @media (max-height: 780px) {
      top: 100px;
    }
  }
  .Order {
    width: 35%;
    margin: 10% auto;
  }
}

