.OrderBody {
  width: 100vw;
  max-height: 100vh;

  .Order {
    width: 35%;
    margin: auto;
    animation-name: fadeInUp;
    animation-duration: 2s;
  }

  .Dishes {
    margin: 20% auto;
  }

  & .Loading {
    position: absolute;
    background-image: linear-gradient(to bottom right, #aef3e7, #37718e);
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    animation-name: loading;
    animation-duration: 2s;
    visibility: hidden;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;

    @keyframes loading {
      from {
        z-index: 0;
        opacity: 0.8;
      }
      to {
        visibility: visible;
        z-index: 1000;
        opacity: 1;
      }
    }
  }

  .Alert {
    position: absolute;
    height: 10%;
    right: 0;
    left: 0%;
    top: -50%;
    z-index: 1000;
    @media (max-height: 800px) {
      top: -40%;
      left: 35%;
    }
  }

  & .Notification {
    position: absolute;
    top: 180px;
    left: 100px;
    animation-name: notificationAnimation;
    animation-duration: 2s;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;

    @media (max-height: 780px) {
      top: 100px;
      left: 60px;
    }
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes notificationAnimation {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
