.Storage {
  box-sizing: border-box;
  margin: 40px auto;
  width: 50%;
  max-width: 50%;
  height: 100%;
  font-size: 1rem;
  color: rgb(52, 72, 90);

  .Budget {
    text-align: center;
    :first-child {
      font-weight: 600;
    }
    p {
      display: inline;
    }
  }

  .Content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Title {
      display: flex;
      align-items: center;
      & p{
        display: inline;
        margin-left: 2%;
        text-transform: capitalize;
      }
      & img {
        width: 5%;
      }
    }
  }

  .Alert {
    position: absolute;
    top: 0%;
    left: 35%;
  }

  .Button {
    text-align: center;
    margin-top: 5%;
  }

  .PriceOnHover {
    position: absolute;
    top: 67%;
    left: 28%;
    text-align: center;
    font-weight: 600;
  }
}
