.alert {
  width: 450px;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  padding: 5px 10px;
  text-align: center;
  font-family:  sans-serif;
  font-weight: 700;
  margin: 30% auto;
  opacity: .7;
  border-radius: 5px;
  position: absolute;

}

.alert-danger {
  background-color: #ff9999;
}

.alert-success {
  background-color: #555;
  color: white;
}