.Root {
  display: flex;
  flex-direction: column;
  align-items: center;

  .Dishes {
    display: flex;
    align-items: center;
    justify-content: center;

    .Arrow {
      align-self: auto;
      font-size: 30px;
      cursor: pointer;
      opacity: .5;
      order: unset;
      transition: all .3s;
      color: white;

      &:hover {
        opacity: 1;
      }
    }

  }


}